body {
      background-color:#D6E1F3;
    }
     p {color:black; 
      text-align:justify;  
      line-height:normal; 
      font-family: "Arial", Times, serif; 
      font-size: 24px;         
      font-weight:normal;
      margin-left:130px;
      margin-right:130px;
      padding:inherit;
      float:none;
    }
    blockquote {
      color:black; 
      text-align:justify;  
      line-height:normal; 
      font-family: "Times New Roman", Times, serif; 
      font-size: 18px;
      font-style:Italic;
      font-weight:normal;
      margin-left:130px;
      margin-right:130px;
      padding:inherit;
      float:none;
      
    }
    h1 {
      color:black; 
      text-align:center;  
      line-height:normal; 
      font-family: "Impact", Times, serif; 
      font-size: 40px;
      font-weight:normal;
    
    }
    h2 {
      color:black; 
      text-align:center;  
      line-height:normal; 
      font-family: "Arial", Times, serif; 
      font-size: 29px;
      font-weight:bold;
      margin:auto;
      padding:inherit;
      float:none;
    }
    li {
      margin-left:130px;
    }
    .zanr {
      text-align:center;
    }
    .autor {
      text-align:center;
    }
    .zdroj {
      text-align:center;
    }
    .seznam {
      margin-left:10px;
    }
    .zaver {
      text-align:center;
    }